*{
    margin:0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
} 
/*body{
    display: flex;
    align-items: center;
    justify-content: center;
}*/
/*main{
  display: flex;
  align-items: center;
  justify-content: center;

}*/ 

#card1:hover{
  z-index: 20;
}
#card2:hover{
  z-index: 20;
}
#card3:hover{
  z-index: 20;
}
#card4:hover{
  z-index: 20;
}

#card2{
    z-index: 3;
    rotate: -5deg;
    background-color: aqua;
  }
  
  #card3{
    z-index: 2;
    rotate: -10deg;
    background-color: black;
  }
  #card4{
    z-index: 1;
    rotate: -15deg;
    background-color: blueviolet;
  }
  #card1{
    z-index: 4;
    background-color: rgb(9, 93, 23);
  }
.cards{
    position:absolute;
    top: 25%;
    left: 37.5%;
    height:400px;
    width: 300px;
    border: 2px;
    border-radius: 10px;
    overflow: hidden;

}
img{
    height: 100%;
    width: 100%;
    object-fit:cover; 
   
}
